<article class="media port-info">
    <div class="media-left">
        <figure class="image is-64x64 port-icon flag">
            <img src="" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <p><strong class="port-info-name"></strong></p>
        <small class="port-info-fleet"></small>
    </div>
</article>
<p class="occupied-by">Occupied by</p>
<article class="media ship-info">
    <div class="media-left">
        <figure class="image is-64x64 ship-icon flag">
            <img src="" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <p><strong class="ship-info-name"></strong></p>
        <p><small class="ship-info-fleet"></small></p>
        <p><small class="ship-info-HP"></small><small> HP</small></p>
    </div>
</article>
