<div class="message-header">
  <p> Help </p>
  <button id="help-close" class="delete" aria-label="delete"></button>
</div>
<div class="message-body">
  <div class="help-container">
    <aside class="menu">
      <ul class="menu-list">
        <li><a data-help-chapter="1">Игроки</a></li>
        <li><a data-help-chapter="2">Цель игры</a></li>
        <li><a data-help-chapter="3">Роза ветров</a></li>
        <li><a data-help-chapter="4">Ветер и ходы</a></li>
        <li><a data-help-chapter="5">Погода</a></li>
        <li><a data-help-chapter="6">Бой</a></li>
        <li><a data-help-chapter="7">Абордаж</a></li>
        <li><a data-help-chapter="8">Интерфейс</a></li>
        <li><a data-help-chapter="9">Credits</a></li>
      </ul>
    </aside>

    <div class="help-body">
      <div id="help-chapter-1" class="help-chapter active-chapter">
        <p>В игре участвуют девять кораблей: три испанских галеона и шесть пиратских бригантин.</p>
        <img src="img/help/1-sides.png">
        <p>Испанские галеоны начинают игру в испанских портах центральной америки. Пираты начинают в игру в пиратских гаванях, разбросанных по всей карте.</p>
      </div>

      <div id="help-chapter-2" class="help-chapter">
        <p>Один из галеонов везет золото. В начале игры вы узнаете какой. Испанцам нужно довезти золото в порт Кадис, чтобы победить.</p>
        <img src="img/help/2-cadiz.png">
        <p>Пиратам нужно перехватить золотой галеон и отвезти его в  одну из пиратских гаваней.</p>
        <p>Испанцам нельзя заходить в пиратские гавани. И пиратам путь в испанские порты заказан. Но кто угодно может войти в незанятый порт нейтральной страны.</p>
      </div>

      <div id="help-chapter-3" class="help-chapter">
        <p>Все корабли ходят по очереди. Все про текущий ход можно увидеть на панели с розой ветров:
          <ol>
            <li>какой корабль ходит,</li>
            <li>сколько у него осталось хитпоинтов.</li>
            <li>какой сейчас ветер.</li>
          </ol>
        </p>
        <img src="img/help/3-rose-ui-ru.png">
      </div>

      <div id="help-chapter-4" class="help-chapter">
        <p>Корабли могут пройти разное расстояние по ветру или против ветра.
          <ul>
            <li>По ветру можно пройти до трех клеток.</li>
            <li>В галфинд можно пройти только две клетки.</li>
            <li>В бейдевинд — всего одну.</li>
          </ul>
        </p>
        <img src="img/help/4-wind-available-moves.png">
        <p>Против ветра на веслах могут идти только пиратские бригантины, и только на одну клетку.</p>
      </div>

      <div id="help-chapter-5" class="help-chapter">
        <p>Иногда наступает штиль. В штиль галеоны не могут двигаться, а пиратские бригантины могут пройти на веслах одну клетку в любом направлении.</p>
        <img src="img/help/5-calm-brigantine-1-cell.png">
        <p>А в ураган корабли становятся неуправляемыми.</p>
        <ul>
          <li>Если вы в порту, выйти в море у вас не получится.</li>
          <li>А если ураган застал вас в открытом море, корабль сместится на одну клетку по направлению ветра.</li>
        </ul>
        <p>Если на этой клетке стоит другой корабль, все остаются на своих местах. Если эта клетка за пределами карты или на земле, корабль разбивается о скалы и тонет.</p>
        
      </div>

      <div id="help-chapter-6" class="help-chapter">
        <p>Рано или поздно испанцы и пираты встретятся в море. Испанские галеоны могут стрелять на расстояние в две клетки. На пиратских бригантинах пушки поменьше, и стреляют они только на расстояние одной клетки.</p>
        <p>Враги в пределах досягаемости подсвечиваются красным.</p>
        <img src="img/help/6-targets.png">
        <p>Каждое попадание приводит к пробоине (-10 HP).</p>
        <p>Испанские галеоны — огромные и прочные корабли. Они могут выдержать два выстрела, и потонут только после третьего попадания (30HP).</p>
        <p>Пиратские бригантины меньше и слабее — они могут выдержать только один выстрел, и со второго уже утонут (20 HP).</p>
      </div>

      <div id="help-chapter-7" class="help-chapter">
        <p>Если золотой галеон получит три пробоины, он не потонет. Пираты обнаружат золото и возьмут галеон на абордаж. После этого золотой галеон перейдет под контроль пиратов и его иконка изменится.</p>
        <img src="img/help/7-pirate-galleon.png">
        <p>Пираты наспех латают одну пробоину и пытаются отвести галеон в свою гавань. По пути испанцы могут перехватить его обратно. Имейте в виду, что испанцам нужно будет не только обстрелять галеон (что можно сделать с расстояния в две клетки), но и подойти вплотную, чтобы взять его на абордаж.</p>
      </div>
  
      <div id="help-chapter-8" class="help-chapter">
        <p>Под розой ветров есть кнопки для специальных действий.</p>
        <img src="img/help/3-rose-ui-ru.png">
        <ul>
          <li>Кнопка с молотком позволяет починить одну пробоину (10HP). Сделать это можно только в порту. Ход придется пропустить.</li>
          <li>Кнопка с песочными часами позволяет пропустить ход и оставить корабль на месте.</li>
          <li>Кнопка с белым флагом заканчивает игру, а кнопка с вопросом открывает эту справку.</li>
        </ul>
      </div>

      <div id="help-chapter-9" class="help-chapter">
        <p>Иконки с <a href="https://game-icons.net/">game-icons.net</a>.</p>
        <ul>
          <li>Galleon, Anchor и Aerodynamic harpoon (ага) — by <a href="lorcblog.blogspot.com/">Lorc</a>.</li>
          <li>Sailboat — by <a href="delapouite.com/">Delapouite</a>.</li>
        </ul>

        <p>Идею и правила я взял из игры <a href="https://www.bogoroditsk.ru/view.php?r=365">«Пираты»</a> Владимира Голицина.</p>
      </div>
    </div>
  </div>  


</div>
