<div id="message-header" class="message-header">
  <p id="message-header-text"></p>
  <button id="message-close" class="delete" aria-label="delete"></button>
</div>
<div id="message-text" class="message-body">
  <p id="message-body-text"></p>
  <div class="message-buttons">
    <button id="button-message-dismiss" class="button is-warning is-light"><i class="fa fa-check"></i></button>
  </div>
</div>
