<div id="pre-game" class="pre-game message-header">
  <p> <%= t("pre-game.header") %> </p>
</div>
<div class="message-body">
  <p><%= t("pre-game.gold-on-ship") %> <span id="pre-game-golden-ship"></span></p>
  <p><%= t("pre-game.gold-at") %> <span id="pre-game-golden-port"></span></p>
  <p><a id="start-game" href="#"><%= t("pre-game.start") %></a></p>
</div>
