<a id="status-chevron"><i class="fa fa-chevron-up"></i></a>
<div class="status-collapsed-row">
    <img id="status-collapsed-flag" class="icon" src="img/flags/pirates.png">
    <span><%= t("status.round") %></span>
    <span id="status-collapsed-turn-no"></span>
</div>
<div class="status-full collapse">
    <div class="rose">
        <img id="status-rose-img" src="img/wind-rose-spaniards.png">
    </div>
    <div id="details">
        <div class="lower-rose-corners">
            <h1 id="status-turn-no"></h1>
            <div id="status-hp-bar" class="bar"></div>
        </div>
        <div class="line head-line">
            <h1><%= t("status.round") %></h1>
            <h1><span id="status-HP"></span> HP</h2>
        </div>
        <div class="line">
            <div>
                <img class="icon" src="icons/windsock.svg">
                <span id="status-wind"></span>
            </div>
            <div>
                <img class="icon" src="icons/sail.svg">
                <span id="status-active-ship"></span>
            </div>
        </div>
    </div>
    <div id="buttons">
        <button id="button-next-turn" class="button is-warning is-light"><i class="far fa-hourglass"></i></button>       
        <button id="button-repair" class="button is-warning is-light"><i class="fas fa-hammer"></i></button>
        <button id="button-surrender" class="button is-warning is-light"><i class="far fa-flag"></i></button>
        <button id="button-help" class="button is-warning is-light"><i class="far fa-question-circle"></i></button>
    </div>
</div>