<div class="rose">
    <img id="status-rose-img" src="img/wind-rose-spanish.png">
</div>
<div id="details">
    <div class="lower-rose-corners">
        <h1 id="status-turn-no"></h1>
        <div id="status-hp-bar" class="bar"></div>
    </div>
    <div class="line head-line">
         <h1>Round</h1>
         <h1><span id="status-HP"></span> HP</h2>
    </div>
    <div class="line">
        <div>
            <img class="icon" src="icons/windsock.svg">
            <span><span id="status-wind"></span> (<span id="status-wind-force"></span>)</span>
        </div>
        <div>
            <img class="icon" src="icons/sail.svg">
            <span id="status-active-ship"></span>
        </div>
    </div>
 </div>
 <div id="buttons">
         <button class="button is-warning is-light"><i class="far fa-hourglass"></i></button>       
         <button class="button is-warning is-light"><i class="fas fa-hammer"></i></button>
         <button class="button is-warning is-light"><i class="far fa-flag"></i></button>
 </div>
