<div class="level">
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Turn no</p>
        <p class="title" id="telemetry-turn-no"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Active ship</p>
        <p class="title" id="telemetry-active-ship"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Fleet</p>
        <p class="title" id="telemetry-active-fleet"></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">HP</p>
        <p class="title"><span id="telemetry-HP"></span>/<span id="telemetry-max-HP"></span></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Wind</p>
        <p class="title"><span id="telemetry-wind"></span>/<span id="telemetry-wind-force"></span></p>
        </div>
    </div>    
</div>
