* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

canvas {
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0; top: 0;
}

canvas#background{
  background: url('../img/gamemap_2000.png') ;
  z-index: 0;
}

canvas#highlight { z-index: 10; }
canvas#ships { z-index: 20; }
canvas#foreground{ z-index: 30; }
.message { z-index: 100 }

resources {
  display: none;
}

div#telemetry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.5; */
  font-size: 2em;

  display: none;
}

* {
  box-sizing: border-box;
}