.alert {
  position: fixed;
  
  left: 50vw;
  top: 50vh;
  width: 30vw;
  transform: translate(-50%, -50%);

  box-shadow: 10px 10px 20px grey;

  opacity: 1;
}

.flash {
  transition: opacity 2s ease-in 1s;
  opacity: 0;
}