.message {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;

  box-shadow: 10px 10px 20px grey;

  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.flash {
  transition: opacity 2s ease-in 1s;
  opacity: 0;
}