div#status {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 20rem;
  
  padding: 1rem;
  
  border: solid 1px;
  border-radius: 0.25em;

  box-shadow: 2px 2px grey;

  background-color: rgba(199,193,172, 0.9);

  z-index: 100;
}

.rose {
  margin: 0 auto;
}

.rose > img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

div#status .lower-rose-corners {
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  font-size: 2em;
}

.lower-rose-corners h1 {
  display: block;
  line-height: 1;
  letter-spacing: 0.1em;
}

.lower-rose-corners .bar {
  width: 1rem;
  height: 4rem;
  background: linear-gradient(to top,  100%, red 100%);
}

div#status .head-line {
  font-size: 2em;
}

div#status .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#status .line > div {
  display: flex;
  align-items: center;
}

div#status .line img.icon {
  height: 1.5em;
}

div#status #buttons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

/* collapse and expand */

div#status #status-chevron {
  position: absolute;
  
  top: 1em; right: 1em;
  width: 1em; height: 1em;

  color: inherit;
}

div#status > div {
  overflow: hidden;
}

div#status .collapse {
  height: 0;
}

/* collapsed row */

div#status .status-collapsed-row {
  display: flex;
}

div#status .status-collapsed-row {
  display: flex;
}

div#status span {
  padding-left: 0.5em;
}
